body{
  margin: 0;
  background: #222;
  font-family: system-ui;
  display: grid;
  place-content: center;
  min-height: 100dvh;
}
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap');